.cards {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}
.cards .card img {
  border: 2px solid black;
  opacity: 0.8;
  transition: 0.5s ease-in-out ;
}
.cards .card img:hover {
  opacity: 1;
}
.cards .card p {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .cards{
   flex-direction: column;
  }
}
