.landing-banner {
  position: relative;
}
.landing-banner img {
  width: 100%;
  object-fit: cover;
}
.banner-text {
  position: absolute;
  width: 50%;
  top: 100px;
  left: 50%;
  font-size: 20px;
}
.white-text {
  background-color: var(--white-color);
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 18px;
}
.black-text {
  background-color: var(--black-color);
  color: var(--white-color);
  font-family: Arial;
  display: inline-block;
  padding: 10px 15px;
}
.text-show {
  margin: 7px 0;
}
.banner-text .text-show a{
  background-color: var(--hover-color);
  color: var(--white-color);
  text-decoration: none;
  padding: 15px 20px;
  font-family: Arial;
}
.text-show:last-child {
  margin: 30px 0;
}
@media (max-width: 899px) {
  .banner-text {
    font-size: 16px;
    left: 40%;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .banner-text {
    left: 0;
    width: 95%;
    font-size: 16px;
  }
}
