@import "../node_modules/bootstrap/dist/css/bootstrap.css";
:root {
  --main-color: #252525;
  --hover-color: #0ba39c;
  --white-color: #ffffff;
  --black-color: #000000;
}
@font-face {
  src: url(./fonts/pollerone/pollerone-webfont.ttf);
  font-family: Pollerone;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Pollerone;
}
